[data-ui-element=dk-group-list] {
    list-style-type: none;
    padding: 0; margin: 0;

    /* Hack to avoid large spaces between groups */
    & > li {
        @media (min-width: @screen-md) {
            float: none;
            display: inline-block;
            vertical-align: top;
        }

        .bounce-enter-leave();
    }

    .clearfix();
}

[data-ui-element=dk-preview] {
    .preview-container {
        width: 640px;
        margin: 0px auto;
    }
    
    .preview-panel {
        margin-top: 20px;
        border: none;
    }
    
    .preview-iframe {
        border: none;
    }
}