.savedCard {
    cursor: pointer;
}

.savedCard:hover {
    background-color: #f8f9fa;
}

.selected {
    box-shadow: 0px 0px 4px #5e9fe4 inset;
    background-color: #f8f9fa !important;
}

.dashboardSelection {
    background-color: #ebf0f5 !important;
}

.dashboardSelection:hover {
    background-color: #e2e6ea !important;
}

.tooltip {
    z-index: 2000 !important;
}

.savedImageBody {
    max-height: 50vh;
    overflow-y: auto;
}

.inputAppendBorder {
    border-top-right-radius: 0.3em !important;
    border-bottom-right-radius: 0.3em !important;
}

.openImageManagement {
    background-color: #E9ECEF !important;
    color: #495057 !important;
    border-color: #ced4da !important;
}

.upload-image {
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    border-width: 1px;
    border-color: #ced4da;
    border-style: solid;
    background-color: #E9ECEF;
    min-width: 80px;
    color: #495057;
    border-radius: 0.3em;
    width:50%;
    text-align: center;
    cursor: pointer;
}