.btn:focus, .btn:active {
    box-shadow: none !important;
}

.btn.btn-noframe-dark {
    border: none;
    color: black;
}

.btn.btn-noframe-dark:hover {
    color: black;
    background-color: rgb(130, 130, 130);
    background-color: rgba(100, 100, 100, 0.3);
}

.btn.btn-noframe-light {
    border: none;
    color: white;
}

.btn.btn-noframe-light:hover {
    color: white;
    background-color: rgb(210, 210, 210);
    background-color: rgba(210, 210, 210, 0.4);
}

.btn.btn-nostyle {
    background: none;
    border: none;
    padding: 0px;
    margin: 0px;
}

.btn-text:hover {
    cursor: pointer;
}

.btn-text.btn-text-dark {
    color: black;
}

.btn-text.btn-text-light {
    color: white;
}