html
    head
        title Dashkiosk - Multi Dashboards
    body(style={
            padding: '0px',
            margin: '0px'
        })
        iframe(width="50%", height="50%", frameborder=0, src=url[0])
        iframe(width="50%", height="50%", frameborder=0, src=url[1])
        iframe(width="50%", height="50%", frameborder=0, src=url[2])
        iframe(width="50%", height="50%", frameborder=0, src=url[3])