html
    head
        title Dashkiosk - Multi Dashboards
    body(style={
            padding: '0px',
            margin: '0px'
        })
        iframe(width="50%", height="50%", frameborder=0, scrolling="no", src=url[0], style={'overflow-y': 'hidden'})
        iframe(width="50%", height="50%", frameborder=0, scrolling="no", src=url[1], style={'overflow-y': 'hidden'})
        iframe(width="50%", height="50%", frameborder=0, scrolling="no", src=url[2], style={'overflow-y': 'hidden'})
        iframe(width="50%", height="50%", frameborder=0, scrolling="no", src=url[3], style={'overflow-y': 'hidden'})