.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn:focus, .btn:active {
    box-shadow: none !important;
}

.btn.btn-noframe-dark {
    border: none;
    color: black;
}

.btn.btn-noframe-dark:hover {
    background-color: rgb(100, 100, 100);
    background-color: rgba(100, 100, 100, 0.3);
}

.btn.btn-nostyle {
    background: none;
    border: none;
    padding: 0px;
    margin: 0px;
}

.btn.btn-nostyle:hover {
    background-color: rgb(100,100,100);
    background-color: rgba(200,200,200,0.1);
}

a {
    outline: none !important;
}

ul.list-layout {
    padding: 0px;
}

li.list-layout-item {
    padding: 3px;
    display: inline-table;
}