.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.right-bottom {
    position: absolute;
    bottom: 2%;
    right: 2%;
}

.my-nav li {
    line-height: 50px;
}

.btn:focus, .btn:active {
    box-shadow: none !important;
}

.btn.btn-noframe-dark {
    border: none;
    color: black;
}

.btn.btn-noframe-dark:hover {
    color: black;
    background-color: rgb(100, 100, 100);
    background-color: rgba(100, 100, 100, 0.3);
}

.btn.btn-noframe-light {
    border: none;
    color: white;
}

.btn.btn-noframe-light:hover {
    color: white;
    background-color: rgb(210, 210, 210);
    background-color: rgba(210, 210, 210, 0.4);
}

.btn.btn-nostyle {
    background: none;
    border: none;
    padding: 0px;
    margin: 0px;
}

.btn.btn-nostyle:hover {
    background-color: rgb(100,100,100);
    background-color: rgba(200,200,200,0.1);
}

a {
    outline: none !important;
}


.fade-enter {
    opacity: 0;
}
.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.fade-exit {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in;
}

ul.list-layout {
    padding: 0px;
}

li.list-layout-item {
    padding: 10px;
    display: inline-table;
}

.bg-color-transition {
    -webkit-transition: background-color 300ms ease-in !important;
    -moz-transition: background-color 300ms ease-in !important;
    -o-transition: background-color 300ms ease-in !important;
    transition: background-color 300ms ease-in !important;
}

.color-transition {
    -webkit-transition: color 300ms ease-in !important;
    -moz-transition: color 300ms ease-in !important;
    -o-transition: color 300ms ease-in !important;
    transition: color 300ms ease-in !important;
}